@charset "UTF-8";

table,
th,
td {
  border: solid 1px #333;
}

div {
  width: 4000px;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  width: 5%;
  padding: 5px;
  background: #999;
  color: #FFF;
}

td {
  width: 5%;
  padding: 5px;
}
